@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700;800&family=JetBrains+Mono&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-primary: #3A86FF;
  --color-secondary: #FF006E;
  --color-bg-dark: #050505;
  --color-card-dark: #121212;
  --color-border-dark: rgba(255, 255, 255, 0.1);
}

@layer base {
  body {
    @apply bg-bg-dark text-white font-sans antialiased;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}

.france-gradient {
  background: linear-gradient(90deg, #3A86FF 0%, #FFFFFF 50%, #FF006E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.markdown-body ul {
  @apply list-disc list-inside space-y-2;
}

.markdown-body b {
  @apply font-bold text-primary;
}
